.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  z-index: -1;
}

.mainHeader a {
  text-align: center;
}
.emailConPosition {
  bottom: -5%;
  right: 55px;
}

@media (max-width: 550px) {
  .mainHeader {
    justify-content: center;
    padding: 1rem;
  }

  .mainHeader svg {
    width: 80%;
  }
  .emailCon {
    display: none;
  }
}
